Repository takanome-dev/BlogHive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,ts,jsx,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/ui/**/*.{js,ts,jsx,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,js,css,md}": "prettier --write"
}

fix: pre-commit hook
  .husky/pre-commit
Due: none

feat: configure commitlint, lint staged and prettier (#7)
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.js
  apps/client/.deepsource.toml
  apps/client/.eslintrc.js
  apps/client/.gitignore
  apps/client/.lintstagedrc.json
  apps/client/.prettierrc.js
  apps/client/README.md
  apps/client/next-env.d.ts
  apps/client/next.config.js
  apps/client/package.json
  apps/client/postcss.config.js
  apps/client/src/pages/_app.tsx
  apps/client/src/pages/index.tsx
  apps/client/src/styles/global.css
  apps/client/tailwind.config.js
  apps/client/tsconfig.json
  apps/server/.lintstagedrc.json
  apps/server/.prettierrc.js
  apps/server/package.json
  apps/web/src/pages/_app.tsx
  commitlint.config.js
  package.json
  packages/prettier-config-custom/index.js
  packages/prettier-config-custom/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

docs: update contributing file
  CONTRIBUTING.md
Due: prettier --write

feat: add homepage
  apps/client/public/logo-text-black-1.png
  apps/client/public/logo-text-black.png
  apps/client/public/logo-text-blue-1.png
  apps/client/public/logo-text-blue.png
  apps/client/src/pages/_app.tsx
  apps/client/src/pages/index.tsx
  apps/client/tailwind.config.js
  apps/server/dist/app.controller.d.ts
  apps/server/dist/app.controller.d.ts.map
  apps/server/dist/app.controller.js
  apps/server/dist/app.controller.js.map
  apps/server/dist/app.module.d.ts
  apps/server/dist/app.module.d.ts.map
  apps/server/dist/app.module.js
  apps/server/dist/app.module.js.map
  apps/server/dist/app.service.d.ts
  apps/server/dist/app.service.d.ts.map
  apps/server/dist/app.service.js
  apps/server/dist/app.service.js.map
  apps/server/dist/main.d.ts
  apps/server/dist/main.d.ts.map
  apps/server/dist/main.js
  apps/server/dist/main.js.map
Due: eslint --fix, prettier --write

feat: add community section
  apps/client/public/community.png
  apps/client/src/pages/index.tsx
  apps/client/tsconfig.json
Due: eslint --fix, prettier --write

feat: add feattures sections
  apps/client/src/pages/index.tsx
Due: eslint --fix, prettier --write

feat: add subscribe section and footer
  apps/client/src/pages/index.tsx
Due: eslint --fix, prettier --write

feat: add homepage (#9)
  apps/client/public/community.png
  apps/client/public/logo-text-black-1.png
  apps/client/public/logo-text-black.png
  apps/client/public/logo-text-blue-1.png
  apps/client/public/logo-text-blue.png
  apps/client/src/pages/_app.tsx
  apps/client/src/pages/index.tsx
  apps/client/tailwind.config.js
  apps/client/tsconfig.json
  apps/server/dist/app.controller.d.ts
  apps/server/dist/app.controller.d.ts.map
  apps/server/dist/app.controller.js
  apps/server/dist/app.controller.js.map
  apps/server/dist/app.module.d.ts
  apps/server/dist/app.module.d.ts.map
  apps/server/dist/app.module.js
  apps/server/dist/app.module.js.map
  apps/server/dist/app.service.d.ts
  apps/server/dist/app.service.d.ts.map
  apps/server/dist/app.service.js
  apps/server/dist/app.service.js.map
  apps/server/dist/main.d.ts
  apps/server/dist/main.d.ts.map
  apps/server/dist/main.js
  apps/server/dist/main.js.map
Due: eslint --fix, prettier --write

chore: remove nestjs dist folder
  .gitignore
  apps/server/dist/app.controller.d.ts
  apps/server/dist/app.controller.d.ts.map
  apps/server/dist/app.controller.js
  apps/server/dist/app.controller.js.map
  apps/server/dist/app.module.d.ts
  apps/server/dist/app.module.d.ts.map
  apps/server/dist/app.module.js
  apps/server/dist/app.module.js.map
  apps/server/dist/app.service.d.ts
  apps/server/dist/app.service.d.ts.map
  apps/server/dist/app.service.js
  apps/server/dist/app.service.js.map
  apps/server/dist/main.d.ts
  apps/server/dist/main.d.ts.map
  apps/server/dist/main.js
  apps/server/dist/main.js.map
Due: eslint --fix, prettier --write

chore: remove nestjs dist folder (#10)
  .gitignore
  apps/server/dist/app.controller.d.ts
  apps/server/dist/app.controller.d.ts.map
  apps/server/dist/app.controller.js
  apps/server/dist/app.controller.js.map
  apps/server/dist/app.module.d.ts
  apps/server/dist/app.module.d.ts.map
  apps/server/dist/app.module.js
  apps/server/dist/app.module.js.map
  apps/server/dist/app.service.d.ts
  apps/server/dist/app.service.d.ts.map
  apps/server/dist/app.service.js
  apps/server/dist/app.service.js.map
  apps/server/dist/main.d.ts
  apps/server/dist/main.d.ts.map
  apps/server/dist/main.js
  apps/server/dist/main.js.map
Due: eslint --fix, prettier --write

refactor: move header and footer to components
  apps/client/.gitignore
  apps/client/src/components/Footer.tsx
  apps/client/src/components/Header.tsx
  apps/client/src/pages/index.tsx
Due: eslint --fix, prettier --write

refactor: move header and footer to components (#11)
  apps/client/.gitignore
  apps/client/src/components/Footer.tsx
  apps/client/src/components/Header.tsx
  apps/client/src/pages/index.tsx
Due: eslint --fix, prettier --write

Delete pr-labeller.yml
  .github/workflows/pr-labeller.yml
Due: none

Delete pr-labeller.yml (#12)
  .github/workflows/pr-labeller.yml
Due: none

refactor: replace ui with atoms
  apps/client/next.config.js
  apps/client/package.json
  apps/client/src/components/Header.tsx
  apps/client/src/pages/index.tsx
  packages/atoms/Button.tsx
  packages/atoms/index.tsx
  packages/atoms/package.json
  packages/atoms/tsconfig.json
  packages/ui/Button.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: replace ui with atoms (#13)
  apps/client/next.config.js
  apps/client/package.json
  apps/client/src/components/Header.tsx
  apps/client/src/pages/index.tsx
  packages/atoms/Button.tsx
  packages/atoms/index.tsx
  packages/atoms/package.json
  packages/atoms/tsconfig.json
  packages/ui/Button.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: update contributing and readme files
  .github/CODEOWNERS
  CONTRIBUTING.md
  README.md
Due: prettier --write

docs: update contributing and readme files (#8)
  .github/CODEOWNERS
  CONTRIBUTING.md
  README.md
Due: prettier --write

feat: update logos
  README.md
  apps/client/public/icon-blue.png
  apps/client/public/icon-white.png
  apps/client/public/logo-text-black-1.png
  apps/client/public/logo-text-black.png
  apps/client/public/logo-text-blue-1.png
  apps/client/public/logo-text-blue.png
  apps/client/public/logo-text-white.png
  apps/client/src/components/Footer.tsx
  apps/client/src/components/Header.tsx
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Update README.md (#14)
  README.md
Due: prettier --write

feat: Update logos (#15)
  README.md
  apps/client/public/icon-blue.png
  apps/client/public/icon-white.png
  apps/client/public/logo-text-black-1.png
  apps/client/public/logo-text-black.png
  apps/client/public/logo-text-blue-1.png
  apps/client/public/logo-text-blue.png
  apps/client/public/logo-text-white.png
  apps/client/src/components/Footer.tsx
  apps/client/src/components/Header.tsx
Due: eslint --fix, prettier --write

docs: update readme
  README.md
Due: prettier --write

docs: update readme (#16)
  README.md
Due: prettier --write

feat: update templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

feat: update templates (#17)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

refactor: update bug issue template
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

refactor: update bug issue template (#18)
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

feat: update file structure
  README.md
  apps/client/next.config.js
  apps/client/package.json
  apps/client/src/components/atoms/Button/index.tsx
  apps/client/src/components/molecules/Footer/index.tsx
  apps/client/src/components/molecules/Header/index.tsx
  apps/client/src/pages/index.tsx
  packages/atoms/Button.tsx
  packages/atoms/index.tsx
  packages/atoms/package.json
  packages/atoms/tsconfig.json
  packages/eslint-config-custom/eslint-next.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: fixed footer
  apps/client/src/components/Footer.tsx
  apps/server/dist/app.controller.d.ts
  apps/server/dist/app.controller.d.ts.map
  apps/server/dist/app.controller.js
  apps/server/dist/app.controller.js.map
  apps/server/dist/app.module.d.ts
  apps/server/dist/app.module.d.ts.map
  apps/server/dist/app.module.js
  apps/server/dist/app.module.js.map
  apps/server/dist/app.service.d.ts
  apps/server/dist/app.service.d.ts.map
  apps/server/dist/app.service.js
  apps/server/dist/app.service.js.map
  apps/server/dist/main.d.ts
  apps/server/dist/main.d.ts.map
  apps/server/dist/main.js
  apps/server/dist/main.js.map
Due: eslint --fix, prettier --write

fix: fixed issues generated in the pr
  apps/client/src/components/Footer.tsx
  apps/server/.gitignore
Due: eslint --fix, prettier --write

fix: fixed issues generated in the pr
  apps/client/src/components/Footer.tsx
Due: eslint --fix, prettier --write

fix: fixed issues generated in the pr
  apps/server/dist/app.controller.d.ts
  apps/server/dist/app.controller.d.ts.map
  apps/server/dist/app.controller.js
  apps/server/dist/app.controller.js.map
  apps/server/dist/app.module.d.ts
  apps/server/dist/app.module.d.ts.map
  apps/server/dist/app.module.js
  apps/server/dist/app.module.js.map
  apps/server/dist/app.service.d.ts
  apps/server/dist/app.service.d.ts.map
  apps/server/dist/app.service.js
  apps/server/dist/app.service.js.map
  apps/server/dist/main.d.ts
  apps/server/dist/main.d.ts.map
  apps/server/dist/main.js
  apps/server/dist/main.js.map
Due: eslint --fix, prettier --write

feat: update text size and color for the subscribe card
  apps/client/src/pages/index.tsx
Due: eslint --fix, prettier --write

fix: fixed issues generated in the pr
  apps/client/src/pages/index.tsx
Due: eslint --fix, prettier --write

Feature: Update footer links (#28)
  apps/client/src/components/Footer.tsx
  apps/client/src/pages/index.tsx
  apps/server/.gitignore
Due: eslint --fix, prettier --write
